<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clearliang.frameworkdemo">

    <uses-permission android:name="android.permission.INTERNET" />                      <!-- 网络-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />         <!-- 读取内存卡-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />          <!-- 允许应用程序改变网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />          <!-- 允许应用程序访问有关的网络信息-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>         <!-- 允许sd卡写权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />              <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />                     <!-- 锁屏开关-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />             <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature    android:name="android.hardware.nfc.hce"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".view.base.BaseApplication"
        tools:replace="android:name"
        android:sharedUserId="android.uid.system">

        <!--Mob配置-->
        <meta-data
            android:name="Mob-AppKey"
            android:value = "@string/mob_app_key"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="@string/mob_app_secret"/>

        <!--设计稿尺寸-->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".testfile.UpgradeActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".view.activity.MainActivity"/>
        <activity android:name=".view.activity.WelcomeActivity" />
        <activity android:name=".selectpic.PickBigImagesActivity"/>
        <activity android:name=".selectpic.PickOrTakeImageActivity"/>

        <!--   Mob配置   -->
        <activity
            android:name="com.mob.paysdk.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--支付宝支付所需配置-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <!--微信支付所需配置-->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.mob.paysdk.PaymentActivity" />
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
        <!--银联支付所需配置-->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--   bugly配置   -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <!-- 注册辅助功能服务 -->
        <service
            android:name=".service.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_tip"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":BackgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <!-- 通过xml文件完成辅助功能相关配置，也可以在onServiceConnected中动态配置 -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
        <activity
            android:name=".testfile.TestActivity"/>

        <activity
            android:name=".testfile.AccessibilityActivity"
            android:process=":BackgroundService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>